@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

/* Scan ALL Laravel & Flux sources */
@source "../**/*.{blade.php,js,vue,php}";
@source "../../vendor/**/*.{blade.php,php}";



@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));
@theme {
    --font-sans: Inter, sans-serif;

    --color-zinc-50: var(--color-stone-50);
    --color-zinc-100: var(--color-stone-100);
    --color-zinc-200: var(--color-stone-200);
    --color-zinc-300: var(--color-stone-300);
    --color-zinc-400: var(--color-stone-400);
    --color-zinc-500: var(--color-stone-500);
    --color-zinc-600: var(--color-stone-600);
    --color-zinc-700: var(--color-stone-700);
    --color-zinc-800: var(--color-stone-800);
    --color-zinc-900: var(--color-stone-900);
    --color-zinc-950: var(--color-stone-950);
}

@theme {
    --color-accent: var(--color-orange-500);
    --color-accent-content: var(--color-orange-600);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-orange-400);
        --color-accent-content: var(--color-orange-400);
        --color-accent-foreground: var(--color-orange-950);
    }
}
